<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SignAssist</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/logo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
  <link href="../static/assets/css/chatbot.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="../static/assets/img/logo.png" alt="">
        <span>SignAssist</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#livesign">LiveSign</a></li>
          <li><a class="nav-link scrollto" href="#blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Your SignAssist.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Aplikasi Pendukung Kemandirian Bahasa Isyarat.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#livesign"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Mulai</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="../static/assets/img/sign-language-bg.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Keunggulan Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>5 Kosa kata</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Projek</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Bahasa </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Anggota Kelompok</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Keunggulan Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>About Me.</h2>
          <p>Mengapa Harus Memilih Aplikasi Web Kami?</p>
        </header>

        <div class="row feature-icons">

          <div class="col-lg-6 ">
            <img src="../static/assets/img/gambarku.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex content">
            <div class="row align-self-center gy-4">

              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="ri-line-chart-line"></i>
                <div>
                  <h4>User Friendly</h4>
                  <p>Website ini sangat mudah untuk dipahami dan dipelajari.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="ri-stack-line"></i>
                <div>
                  <h4>Mudah diakses</h4>
                  <p>Dapat diakses siapa saja, dimana saja dan kapan saja.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="ri-brush-4-line"></i>
                <div>
                  <h4>Memiliki Fitur Translate </h4>
                  <p>Website kami memiliki fitur translate berupa 5 bahasa(Bahasa Korea, Bahasa Inggris, Bahasa Jepang,
                    Bahasa Jawa, Bahasa Sunda).</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="ri-magic-line"></i>
                <div>
                  <h4>Prediksi Akurat</h4>
                  <p>Website kami memiliki model untuk mendeteksi ekspresi wajah, pose tubuh dan gerakan kedua tangan.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- / row -->
      </div>

    </section><!-- End About Section -->

    <!-- ======= Deteksi Bahasa Isyarat (LiveSign) Section ======= -->
    <section id="livesign" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <header class="section-header">
            <h2>LiveSign</h2>
            <p>Silahkan Mulai Gerakan Isyarat Terbaik Anda</p>
          </header>

          <div class="col-lg-4 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200"
            style="margin-left: 30px;">
            <div class="content">
              <div class="text-center text-lg-start">
                <form method="post" action="{{ url_for('tasks') }}">
                  <div class="div1">
                    <input class="btn-read-ye d-inline-flex align-items-center justify-content-center align-self-center"
                      type="submit" value="Stop/Start" name="stop" />
                  </div>

                  <div class="div2">
                    <select
                      class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                      name="target_language">
                      <!--opsi bahasa lain -->
                      <option value="id">Indonesia</option>
                      <option value="en">English</option>
                      <option value="es">Spanish</option>
                      <option value="fr">French</option>
                    </select>

                    <input
                      class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                      type="submit" name="translate" value="Translate">
                  </div>
                </form>

                <a href="/directory"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center herf-s">
                  <span>Dictionary Sign Language</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-7 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{{ url_for('video_feed') }}" class="img-fluid" alt="">

          </div>

        </div>
      </div>

    </section><!-- End Deteksi Bahasa Isyarat (LiveSign) Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Blog</h2>
          <p>Pentingnya Mempunyai Kemampuan Bahasa Isyarat!</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img
                  src="https://cdn.idntimes.com/content-images/community/2019/04/sl1-366c9fbeeb8a02b39b27f9b1116da063_600x400.jpeg"
                  alt="Alasan Kenapa Kamu Harus Belajar & Menguasai Bahasa Isyarat" class="img-fluid blog-image">
              </div>
              <span class="post-date">Apr 22, 2019</span>
              <h3 class="post-title">Alasan Kenapa Kamu Harus Belajar & Menguasai Bahasa Isyarat</h3>
              <a href="https://www.idntimes.com/life/inspiration/febby-arshani/alasan-menguasai-bahasa-isyarat-c1c2"
                class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="https://meenta.net/wp-content/uploads/2022/09/bahasa-isyarat-dasar.jpg"
                  class="img-fluid blog-image" alt="Bahasa Isyarat Dasar Untuk Pemula: Salam Hingga Terima Kasih"></div>
              <span class="post-date"> September 13, 2022</span>
              <h3 class="post-title">Bahasa Isyarat Dasar Untuk Pemula: Salam Hingga Terima Kasih</h3>
              <a href="https://meenta.net/bahasa-isyarat-dasar-untuk-pemula/"
                class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img
                  src="https://assets-a1.kompasiana.com/items/album/2020/03/31/talkactive-id-5e82dfbef1110c4b042ac3b2.jpg"
                  class="img-fluid blog-image"
                  alt="Pengembangan Bahasa Isyarat Didorong demi Kesetaraan Interaksi Sosial"></div>
              <span class="post-date">September 27, 2022</span>
              <h3 class="post-title">Pengembangan Bahasa Isyarat Didorong demi Kesetaraan Interaksi Sosial</h3>
              <a href="https://adpim.kaltaraprov.go.id/2022/09/27/pengembangan-bahasa-isyarat-didorong-demi-kesetaraan-interaksi-sosial/"
                class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Blog Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Team Kaizen 2</h2>
          <p>Anggota Team</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="../static/assets/img/team/tania.png" class="img-fluid team-image" alt="">
                <div class="social">
                  <a href="https://api.whatsapp.com/send/?phone=%2B6282136042245&text&type=phone_number&app_absent=0"><i
                      class="bi bi-whatsapp"></i></a>
                  <a href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=tania57774@gmail.com"><i
                      class="bi bi-google"></i></a>
                  <a href="https://www.instagram.com/titniafs/?hl=id"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Titania Ferrodova Shonda </h4>
                <span>Universitas Pendidikan Indonesia </span>
                <span>2001429</span>
                <p>Menuju tak terbatas dan melampauinya</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="../static/assets/img/team/vito.png" class="img-fluid team-image" alt="">
                <div class="social">
                  <a href="https://api.whatsapp.com/send/?phone=%2B6281283418059&text&type=phone_number&app_absent=0"><i
                      class="bi bi-whatsapp"></i></a>
                  <a href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=advitoyanto@gmail.com"><i
                      class="bi bi-google"></i></a>
                  <a href="https://www.instagram.com/advito_/?hl=id"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mochamad Advito Pebriyanto</h4>
                <span>Universitas Pembangunan Nasional Veteran Jakarta</span>
                <span>2010314034</span>
                <p>Teruslah bersemangat walaupun takdir terus mempermainkanmu!</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="../static/assets/img/team/sania.png" class="img-fluid team-image" alt="">
                <div class="social">
                  <a href="https://api.whatsapp.com/send/?phone=%2B6285709984214&text&type=phone_number&app_absent=0"><i
                      class="bi bi-whatsapp"></i></a>
                  <a href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=khoirotunsania@gmail.com"><i
                      class="bi bi-google"></i></a>
                  <a href="https://www.instagram.com/sania_khoirotunnisa/?hl=id"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sania Khoirotun Nisa</h4>
                <span>Universitas Negeri Semarang</span>
                <span>4111420005</span>
                <p>Success doesn't happen by chance. It is the result of hard work, persistence, study, sacrifice and
                  love for what you do</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="../static/assets/img/team/rafi.png" class="img-fluid team-image" alt="">
                <div class="social">
                  <a href="https://api.whatsapp.com/send/?phone=%2B6285846246294&text&type=phone_number&app_absent=0"><i
                      class="bi bi-whatsapp"></i></a>
                  <a href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=rafmugni02@gmail.com"><i
                      class="bi bi-google"></i></a>
                  <a href="https://www.instagram.com/rafimugni02/?hl=id"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Rafi Abdul Mugni </h4>
                <span>Universitas Muhammadiyah Sukabumi</span>
                <span>2030511059</span>
                <p>Don't get tired of being a good person.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="index.html" class="logo d-flex align-items-center">
                <img src="../static/assets/img/logo.png" alt="">
                <span>SignAssist</span>
              </a>
              <p>Aplikasi Pendukung Kemandirian Bahasa Isyarat</p>
              <div class="social-links mt-3">
                <a href="http://wa.me/+6282136042245" class="whastapp"><i class="bi bi-whatsapp"></i></a>
                <a href="https://github.com/titaniafs" class="github"><i class="bi bi-github"></i></a>
                <a href="http://instagram.com/titniafs" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="http://linkedin.com/in/advito-pebriyanto" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-6  footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#hero">Home</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#livesign">LiveSign</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#blog">Blog</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#team">Team</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
              <h4>Contact Us</h4>
              <p>
                Team Kaizen 2 <br>
                PT. Orbit Future Academy<br>
                Daerah Khusus Ibukota Jakarta 12930 <br><br>
                <strong>Phone:</strong> +62 821-3604-2245<br>
                <strong>Email:</strong> titaniafs@upi.edu<br>
              </p>

            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>SignAssist</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by Team Kaizen 2
        </div>
      </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
    <!-- ======= Chat Bot ======= -->
    <div class="chatbox">
      <div class="chatbox__support">
        <div class="chatbox__header">
          <div class="chatbox__image--header">
            <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
          </div>
          <div class="chatbox__content--header">
            <h4 class="chatbox__heading--header">Chat support</h4>
            <p class="chatbox__description--header">Hi.Apa yang bisa kami bantu?</p>
          </div>
        </div>
        <div class="chatbox__messages">
          <div></div>
        </div>
        <div class="chatbox__footer">
          <input type="textInput" placeholder="Write a message...">
          <button id="buttonInput" type="submit" class="chatbox__send--footer send__button">Send</button>
        </div>
      </div>
      <div class="chatbox__button">
        <button><img src="../static/assets/img/chatbot.png" /></button>
      </div>
    </div><!-- End Chat Bot -->



    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
    <script src="../static/assets/js/chatbot.js"></script>

</body>

</html>