<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SignAssist</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/logo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
  <link href="../static/assets/css/chatbot.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="../static/assets/img/assets/img/logo.png" alt="">
        <span>SignAssist</span>
      </a>

      <nav id="navbar" class="navbar">
        <li><a href="/"
            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
            <span>Kembali ke Menu Utama</span>
            <i class="bi bi-arrow-right"></i>
          </a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Bahasa Isyarat</li>
        </ol>
        <h2>Bahasa Isyarat</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing">

          <div class="container" data-aos="fade-up">

            <header class="section-header">
              <h2>Dictionary</h2>
              <p>Pahami Terkait Gerakan Bahasa Isyarat</p>
            </header>

            <div class="row gy-4" data-aos="fade-left">

              <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                  <h3 style="color: #07d5c0;">AKU</h3>
                  <img src="../static/assets/img/bahasa-isyarat/aku.jpeg" class="img-fluid sign-image " alt="">
                  <ul>
                    <li>Angkat tangan kanan Anda ke atas, lalu tekuk telunjuk, jari tengah, dan jari manis sehingga
                      hanya
                      ibu jari dan jari kelingking yang tetap lurus.</li>
                    <li>Letakkan tangan tersebut di atas perut dengan telapak tangan menghadap ke kamera </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                  <h3 style="color: #cc6ad1;">KAMU</h3>
                  <img src="../static/assets/img/bahasa-isyarat/kamu.jpeg" class="img-fluid sign-image " alt="">
                  <ul>
                    <li>Angkat tangan kanan Anda ke atas,Letakkan tangan di atas bagian atas perut. </li>
                    <li>Pastikan telapak tangan menghadap ke kamera</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                  <h3 style="color: #19a73f;">BINGUNG</h3>
                  <img src="../static/assets/img/bahasa-isyarat/bingung.jpeg" class="img-fluid sign-image " alt="">
                  <ul>
                    <li>Angkat tangan kanan Anda ke atas,Letakkan tangan di daerah dekat wajah, seperti di depan dahi
                      atau
                      pipi.</li>
                    <li>Gerakkan tangan dengan mengelilingi wajah dalam gerakan melingkar</li>
                    <li>Pastikan tangan Anda menghadap ke kamera</li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="box">
                  <h3 style="color: #ff901c;">GEMBIRA</h3>
                  <img src="../static/assets/img/bahasa-isyarat/gembira.jpeg" class="img-fluid sign-image " alt="">
                  <ul>
                    <li>Angkat kedua tangan Anda dan letakkan di samping kepala, dekat telinga.</li>
                    <li>Gerakkan kedua tangan Anda perlahan secara bersamaan ke arah kanan dan kiri, menjaga tangan
                      tetap
                      menghadap ke bagian kepala.</li>
                    <li>Pastikan wajah Anda menghadap ke kamera atau arah yang diinginkan.a</li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                <div class="box">
                  <h3 style="color: #ff0071;">TERIMA KASIH</h3>
                  <img src="../static/assets/img/bahasa-isyarat/thx.jpeg" class="img-fluid sign-image " alt="">
                  <ul>
                    <li>Taruh kedua tangan di mulut dengan posisi telapak tangan menghadap ke bawah dan jari-jari
                      terentang.
                    </li>
                    <li>Perlahan-lahan majukan kedua tangan ke depan, menjauh dari mulut.</li>
                    <li>Pastikan tangan menghadap ke kamera atau arah yang diinginkan</li>
                  </ul>
                </div>
              </div>

            </div>

          </div>

        </section><!-- End Pricing Section -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script src="../static/assets/js/chatbot.js"></script>

</body>

</html>